<!-- 引用 artitalk -->
<script type="text/javascript" src="https://unpkg.com/artitalk"></script>
<!-- 存放说说的容器 -->
<div id="artitalk_main"></div>
<script>
new Artitalk({
    appId: 'GagR2ffMY5yPmbRDP9dTqICC-MdYXbMMI',
    appKey: 'plxiU8xsVO39tBcPorB7JShm'
})
</script>
